<preferences><site_name>Prospect</site_name><site_email>umesh@newagesmb.com</site_email><fromEmail>qanewagesmb@gmail.com</fromEmail><smtpHost>smtp.gmail.com</smtpHost><smtpPort>465</smtpPort><smtpUser>qanewagesmb@gmail.com</smtpUser><smtpPass>Newagesm8</smtpPass><dateFormat>%m-%d-%Y</dateFormat><dateTimeFormat>%d/%m/%Y %h:%i %p</dateTimeFormat><adminEmail>admin@prospect.com</adminEmail><fromName>Prospect</fromName></preferences>